
.place__title_margin{
    font-family: 'Inter Bolder', 'Arial', sans-serif;
    font-size: 72px;
    line-height: 65px;
    margin-top: 72px;
    margin-bottom: 0;

}

@media (max-width: 1023px){
    .place__title_margin{
        font-size: 42px;
        line-height: 46px;
        height: 56px;
        width: 340px;
        margin-top: 0;

     }
}
@media (max-width: 766px){
.place__title_margin{
    font-size: 32px;
    line-height: 35px;
    max-width: 343px;
    height: 40px;
    margin-top: 30px;
    padding-top: 48px;
    padding-left: 16px;

}
}

@media (max-width: 366px){
    .place__title_margin{
        font-size: 32px;
        line-height: 35px;
        max-width: 270px;
        height: 40px;
        margin-top: 35px;
        padding-top: 48px;
    }
    }