

.width_changes{
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width: 1235px) {
   
    .width_changes{
        max-width: 1235px;
        margin-top: 102px;

    }
}

@media (max-width: 1023px){
    
    .width_changes{
        max-width: 1023px;
        
    }
}

@media (max-width: 766px){
    .width_changes{
        max-width: 766px;
    }
}

@media (max-width: 366px){

    .width_changes{
        max-width: 366px;
        margin-top: 64px;
    }
}