
.width_small{
    max-width: 984px;
    margin: 0 auto;
}

@media (max-width: 1235px) {
    .width_small{
        width: 928px;
    }
}

@media (max-width: 1023px){ 
    .width_small{
        width: 768px;
    }
}

@media (max-width: 766px){
    .width_small{
        width: 100%;
        margin: 0 auto;      
    }
}

@media (max-width: 366px){
    .width_small{
        width: 320px;
        margin: 0 auto;      
    }
}