
.width_small{
    max-width: 984px;
    margin: 0 auto;
}

@media (max-width: 1235px) {
    .width_small{
        max-width: 928px;
    }
}

@media (max-width: 1023px){ 
    .width_small{
        max-width: 720px;
        }
}

@media (max-width: 766px){
    .width_small{
        max-width: 766px;
        margin: 0 auto;      
    }
}

@media (max-width: 366px){
    .width_small{
        max-width: 318px;
        margin: 0 auto;      
    }
}