.cover__subtitle{
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 3/4;
    z-index: 2;
    max-width: 382px;
    height: 69px;
    color: white;

}


@media (max-width: 1235px) {
    .cover__subtitle{
        margin-top: 60px;
    }
}
@media (max-width: 1023px){
.cover__subtitle{
    width: 382px;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 30px;
}
}

@media (max-width: 766px){
.cover__subtitle{
    width: 270px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    padding-top: 0;
}
}

@media (max-width: 366px){
    .cover__subtitle{
        margin-top: 30px;
        
    }
    }
    