@import url(./__container/video__container.css); 
@import url(./__duration/video__duration.css); 
@import url(./__duration/_change/video__duration_change_margin.css); 
@import url(./__icon/_play/video__icon_play.css); 
@import url(./__illustration/video__illustration.css); 
@import url(./__image/video__image.css); 
@import url(./__link/video__link.css); 
@import url(./__subtitile/video__subtitle.css); 
@import url(./__subtitile/_change/video__subtitle_change_margin.css); 
@import url(./__title/video__title.css); 
@import url(./__title/_change/video__title_change_margin.css);


@media (max-width: 1023px){
    .video{
        margin-top: 0;
        padding-bottom: 500px;
    }
}

@media (max-width: 766px){
.video{
    margin-top: 0;
}
}

@media (max-width: 366px){
    .video{
        width: 288px;
        margin: auto;
    }
    }
    


