.video__link{
    color: white;
    display: block;
    text-decoration: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 5px;
    background: #000000;
}


.video__link:hover .video__illustration {
    opacity: 0.5;
    background: #000000;
}


@media (max-width: 1023px){
.video__link{
    margin: 0 auto;                  
}
}
@media (max-width: 766px){
    .video__link{
      margin-bottom: 10px;
    }
}

@media (max-width: 366px){
    .video__link{
      max-width: 288px;
    }
}
