@media (max-width: 1235px) {
    .photo-grid__item{
        max-width: 352px;
        height: 200px;
    }
}

@media (max-width: 1023px){
    .photo-grid__item{
        width: 100%;
        height: 234px;
        margin: auto;
    }
}

@media (max-width: 766px){
    .photo-grid__item{
    width: 100%;
    max-height: 232px;

}
}

@media (max-width: 366px){
    .photo-grid__item{
    width: 100%;
    height: 192px;

}
}