@import url(./__logo/header__logo.css); 
@import url(./__langs/header__langs.css);
@import url(./__langs/__lang/header__lang.css);  
@import url(./__langs/__lang/_active/header__lang_active.css);

.header{
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width: 1235px) {
    .header{
        width: 928px;
    }
}

@media (max-width: 1023px){
    .header{
        width: 720px;
    }
}

@media (max-width: 766px){
    .header{
        width: 288px;
        margin-top: 16px;
    }
}

@media (max-width: 366px){

    .header{
        width: 288px;
        margin-top: 16px;
    }
}