.video__duration{
    font-family: 'Inter Bolder', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: 2;
    margin-top: 165px;
    margin-left: 30px;
}

@media (max-width: 1235px) {

    .video__duration{
        margin-top: 125px;
    }
}
@media (max-width: 1023px){
.video__duration{
    margin-top: 0;
    padding-top: 82px;
}
}