.video__picture{
    background: #000;
    max-width: 583px;
    max-height: 323px;
}

@media (max-width: 1235px) {

    .video__picture{
        width: 456px;
        height: 288px;
    }
}

@media (max-width: 1023px){
.video__picture{
    width: 352px;
    height: 200px;
}
}

@media (max-width: 766px){
.video__picture{
    width: 343px;
    height: 200px;
    margin-bottom: 8px;
}
}
@media (max-width: 366px){
.video__picture{
    width: 288px;
    height: 192px;
}
}