.intro__text{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-top: 48px;
}


@media (max-width: 1235px) {
   .intro__text{
    width: 692px;
 }
}

@media (max-width: 766px){
.intro__text{
    font-size: 16px;
    line-height: 27px;
    width: 330px;
    height: 461px;  
    padding-bottom: 32px;
 }
}
@media (max-width: 366px){
.intro__text{
    font-size: 16px;
    line-height: 27px;  
    padding-bottom: 0px;
    width: 288px;
    height: 543px;
    margin-bottom: 32px;
 }
}