@import url(./__list/intro__list.css); 
@import url(./__list/_normal/intro__list_normal.css); 
@import url(./__text/intro__text.css); 
@import url(./__title/intro__title.css); 



.intro{
    padding-top: 80px;
    margin: auto;
}

@media (max-width: 1023px){
    .intro{
            width: 93%;
            margin: auto;
    }
}

