
@import url(./__image/cover__image.css); 
@import url(./__subtitle/cover__subtitle.css); 
@import url(./__title/cover__title.css); 

.cover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 102px;

}

.cover:hover .cover__image {
    opacity: 0.7;
    background: #2A2C2F;

}


@media (max-width: 1235px) {
    .cover{
         margin: auto;
         margin-left: 0;      
    }
}

@media (max-width: 766px){
    .cover{
        margin-top: 0;
        padding-top: 42px;
    }
}

@media (max-width: 366px){
    .cover{
     margin-top: 0;
     padding-top: 0;
}
}
