.intro__width{
    width: 69%;
}

@media (max-width: 1023px){
    .intro__width{
        width: 93%;
        height: 384px;
        padding-bottom: 97px;
        margin: auto;
    }
}
@media (max-width: 766px){
.intro__width{
    width: 91%;
    padding-bottom: 0;
    margin: auto;
    height: 696px;
    margin-top: 82px;
    margin-bottom: 64px;
}
}
@media (max-width: 366px){
.intro__width{
    width: 90%;
    padding-bottom: 0;
    margin: auto;
    height: 784px;
    margin-top: 82px;
}
}

