.lead__caption{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 10.87px;
}

@media (max-width: 1023px){
    .lead__caption{
    margin-left: 24px;
    }
}

@media (max-width: 766px){

    .lead__caption{
        margin-left: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 366px){

    .lead__caption{
        margin-left: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }
}