.cover__title{
    font-family: 'Inter Bolder', 'Arial', sans-serif;
    font-size: 72px;
    line-height: 78px;
    text-align: center; 
    z-index: 5;
    color: #FFFDFD;
    grid-column: 1/4;
    grid-row: 2/4;
}

@media (max-width: 1235px) {
    .cover__title{
        flex-wrap: wrap;
        max-width: 550px;
        margin: 0 auto;
        padding-top: 0px;
    }
}
@media (max-width: 1023px){
.cover__title{
    width: 550px;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;

}
}
@media (max-width: 766px){
.cover__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    margin-top: 0;
    padding-top: 0;
}
}

@media (max-width: 366px){
    .cover__title{
        margin-top: 50px;
        
    }
    }
    