@import url(./__image/place__image.css); 
@import url(./__main/place__main.css); 
@import url(./__paragraph/_big/place__paragraph_big.css); 
@import url(./__paragraph/_small/place__paragraph_small.css); 
@import url(./__title/place__title.css); 
@import url(./__title/_margins/place__title_margins.css);
@import url(./__url-heading/place__url-heading.css); 
@import url(./__url/place__url.css);  
@import url(./__website/place__website.css); 
@import url(./__website/_margin/place__website_margin.css); 
@import url(./__website/_margins/place__website_margins.css); 
@import url(./_change/place_change_width.css);
@import url(./_small/place_small_width.css);
@import url(./__paragraph/_large/place_paragraph_large.css);
@import url(./__paragraph/_smaller/place__paragraph_smaller.css);
@import url(./__paragraph/_bigger/place__paragraph_bigger.css);
@import url(./__paragraph/_margins/place__paragraph_margins.css);
@import url(./_change/place_change_margin.css);
@import url(./_changes/place_changes_margin.css);

.place{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0;
}

@media (max-width: 1023px){
    .place{
        max-width: 720px;
        margin-top: 72px;
        grid-gap: 0px;
    }
}

@media (max-width: 766px){
.place{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin-top: 0;
    padding-top: 0;
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 0;

}
}


