.video__image{
    max-width: 592px;
    padding-left: 18px;
}

.video__image:nth-of-type(1){
    padding-left: 0;
}

@media (max-width: 1235px) {
    .video__image{
        padding-left: 16px;
        width: 456px;
    }
}
@media (max-width: 1023px){
.video__image{
    padding-left: 16px;
    width: 352px;
}
}

@media (max-width: 766px){
.video__image{
    display: block;
    padding-left: 0;
}
}

@media (max-width: 366px){
    .video__image{
       max-width: 288px;
    }
}