.place__website{
    grid-column: 2/2;
    grid-row: 1/2;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-top: 169px;
    padding-top: 0;
}


@media (max-width: 1235px) {
    .place__website{
        width: 456px;
    }
}

@media (max-width: 1023px){
    .intro__width{
        width: 93%;
        height: 384px;
        padding-bottom: 97px;
        margin: auto;
    }
    .place__website{
        max-width: 352px;
        margin-top: 138px;
    }
}
@media (max-width: 766px){
.place__website{
    margin-top: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
}
}
@media (max-width: 366px){
    .place__website{
    max-width: 288px;
}
}

